{% extends 'store/main.html' %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'store' %}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->



    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                    <tr>
                        <th></th>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for item in items %}

                        <tr>
                            <td class="align-middle"><img src="{{ item.product.imageURL }}" alt=""
                                                          style="width: 50px; right: 20px"></td>
                            <td class="align-middle">{{ item.product.title }}</td>
                            <td class="align-middle">{{ item.product.price }}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button data-product={{ item.product.id }}
                                                        data-action="remove"
                                                class="btn btn-sm btn-primary btn-minus update-cart">
                                            <i class="fa fa-minus chg-quantity"></i>
                                        </button>
                                    </div>
                                    <a type="text"
                                       class="form-control form-control-sm bg-secondary text-center">{{ item.quantity }}</a>
                                    <div class="input-group-btn">
                                        <button data-product={{ item.product.id }}
                                                        data-action="add"
                                                class="btn btn-sm btn-primary btn-plus update-cart">
                                            <i class="fa fa-plus chg-quantity"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{ item.get_total }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Total item</h6>
                            <h6 class="font-weight-medium">{{ order.get_cart_item }}</h6>
                        </div>
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">${{ order.get_cart_total|floatformat:2 }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium"> 0 </h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">${{ order.get_cart_total|floatformat:2 }}</h5>
                        </div>
                        <a class="btn btn-block btn-primary my-3 py-3" href="{% url 'checkout' %}">Proceed To
                            Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

{% endblock content %}